absl-py==1.2.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
async-timeout==4.0.2
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.6.3
bleach==5.0.1
blis==0.7.9
brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1605538068321/work
chardet @ file:///tmp/build/80754af9/chardet_1605303185383/work
charset-normalizer==2.0.12
chex==0.1.5
click==8.0.4
colorama==0.4.5
commonmark==0.9.1
conda==4.9.2
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1603018141399/work
confection==0.0.3
cryptography @ file:///tmp/build/80754af9/cryptography_1605544487601/work
cupy-cuda110==11.3.0
cycler==0.11.0
datasets==2.1.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
dm-tree==0.1.7
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
entrypoints==0.4
etils==0.8.0
eval-pipeline @ file:///home/am12057/inverse-scaling-eval-pipeline
executing==1.1.1
faiss-gpu==1.7.2
fastjsonschema==2.16.2
fastrlock==0.8.1
filelock==3.6.0
flax==0.6.1
fonttools==4.31.2
frozenlist==1.3.0
fsspec==2022.3.0
hfst-dev==3.15.0.10b0
huggingface-hub==0.10.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata==5.0.0
importlib-resources==5.9.0
ipykernel==6.16.2
ipython==8.5.0
ipython-genutils==0.2.0
jax==0.3.21
jaxlib==0.3.20+cuda11.cudnn82
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.10
jsonschema==4.16.0
jupyter-client==7.4.4
jupyter-core==4.11.2
jupyter-http-over-ws==0.0.8
jupyter-server==1.21.0
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab-server==2.16.1
kiwisolver==1.4.0
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mistune==2.0.4
Morfessor==2.0.4
msgpack==1.0.4
multidict==6.0.2
multiprocess==0.70.12.2
natsort==5.4.1
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.2
nbformat==5.7.0
nest-asyncio==1.5.6
nltk==3.7
notebook==6.5.1
notebook-shim==0.2.0
numpy==1.22.3
openai==0.26.5
opt-einsum==3.3.0
optax==0.1.3
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipreqs==0.4.11
pkgutil-resolve-name==1.3.10
polyglot==16.7.4
portalocker==2.5.1
prometheus-client==0.15.0
prompt-toolkit==3.0.31
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==7.0.0
pycld2==0.31
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments==2.13.0
PyICU==2.3.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1605545627475/work
pyparsing==3.0.7
pyrsistent==0.18.1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2022.1
PyYAML==6.0
pyzmq==24.0.1
ratelimit==2.2.1
regex==2022.10.31
requests==2.27.1
responses==0.18.0
rich==12.6.0
ruamel-yaml==0.15.87
sacrebleu==2.2.1
sacremoses==0.0.49
scikit-learn==1.1.3
scipy==1.9.1
seaborn==0.12.2
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
six @ file:///tmp/build/80754af9/six_1605205327372/work
sklearn==0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spacy-legacy==3.0.10
srsly==2.4.5
stack-data==0.5.1
tabulate==0.8.10
terminado==0.17.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.11.6
tomli==2.0.1
toolz==0.12.0
torch==1.10.2+cu113
torchvision==0.14.0
tornado==6.2
tqdm==4.64.0
traitlets==5.5.0
transformers==4.22.2
typing-extensions==4.3.0
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
wasabi==0.10.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
wikiextractor @ git+https://github.com/akb89/wikiextractor@739fef0787281449a3766baf5c24bb9d61439cc9
witokit==1.1.2
xxhash==3.0.0
yarg==0.1.9
yarl==1.7.2
zipp==3.8.1
